<!DOCTYPE html> 
<html>
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS_Mobile"/>
		<span metal:use-macro="macros.xhtml/IncludeJS_Mobile"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/user/PaidSupplierListInsLoad.js"/>
	</head>
<body>	
	<div data-role="page" class="category type-interior">
		<span metal:use-macro="macros.xhtml/header"/>
		<div data-role="content">
			<div class="content-primary">
				<div data-role="collapsible" data-collapsed="false" data-theme="b" data-content-theme="d">
					<h3 tal:content="Title" />
					<form id="FormPaidSupplierListInsLoad" data-ajax="false" tal:attributes="action Supplier/getURLPaidInsExe" method="post" class="ui-body ui-corner-all">
						<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="d">
							<li data-role="fieldcontain">
								<label for="Date">Ngày:</label>
								<input class="required" name="Date" id="Date" />
							</li>
							<li data-role="fieldcontain">
								<label for="Value" class="text">Giá trị:</label>
								<input class="required" id="Value" name="Value" type="text" />
							</li>
							<li data-role="fieldcontain">
								<label for="Note" class="text">Diễn giải:</label>
								<textarea cols="40" rows="8" name="Note" id="Note" data-mini="true"></textarea>
							</li>
							<button type="submit" data-theme="b"  data-icon="check" name="submit" value="submit-value">Cập nhật</button>
						</ul>
					</form>
				</div>
			</div>
			<div class="content-secondary">
				
			</div>
		</div>
		<span metal:use-macro="macros.xhtml/footer"/>
	</div>
</body>
</html>