<!DOCTYPE html> 
<html>
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS_Mobile"/>
		<span metal:use-macro="macros.xhtml/IncludeJS_Mobile"/>				
	</head>
<body>
	<div data-role="page" class="type-interior">
		<span metal:use-macro="macros.xhtml/header"/>
		<div data-role="content">
			<div class="content-primary">
				<span tal:repeat="Data DataAll">
				<ul data-role="listview" tal:condition="php:Data[1]">
					<li data-role="list-divider" tal:content="php:Data[0] . ' (' . Data[2] . ')'" />
					<li tal:repeat="D php:Data[1]">						
						<span tal:content="php:D[0]"/>. <span tal:content="php:D[1]"/>, <span tal:content="php:D[2]"/>, <span tal:content="php:D[3]"/>
						<span class="ui-li-count" tal:content="php:D[4]" />						
					</li>					
				</ul>
				<BR/>
				</span>
				<ul data-role="listview">
					<li>
						TỔNG CỘNG <span class="ui-li-count" tal:content="php:NTotal->formatCurrency() . ' đ'" />
					</li>
					<li>
						(<i tal:content="NTotal/readDigit" />)
					</li>
				</ul>
			</div>
			
			<div class="content-secondary">
				<ul data-role="listview" data-theme="c" data-dividertheme="d">
					<li tal:content="string:CHỨC NĂNG" data-role="list-divider" />					
					<li><a target="blank" data-transition="none" tal:attributes="href URLPrint">In phiếu</a></li>
				</ul>
			</div>
		</div>
		<span metal:use-macro="macros.xhtml/footer"/>
	</div>		
</body>
</html>