<!DOCTYPE html> 
<html>
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS_Mobile"/>
		<span metal:use-macro="macros.xhtml/IncludeJS_Mobile"/>		
	</head>
<body>
	<div data-role="page" class="type-interior">
		<span metal:use-macro="macros.xhtml/header"/>
		<div data-role="content">
			<div class="content-primary">
				<span  tal:condition="Table/getSessionActive">
					<ul data-role="listview">
						<li data-role="list-divider" tal:content="Title" />
						<li data-theme="c" tal:repeat="Ticket TicketAll">
							<a data-ajax="false" tal:attributes="href Ticket/getURLUpdLoad">
								<h3>
									<span tal:content="Ticket/getCourse/getName"/>
									<span tal:content="Ticket/getCount"/>(<span tal:content="Ticket/getCourse/getUnit"/>)
								</h3>
								<p tal:content="Ticket/getNote" />
							</a>
							<a tal:attributes="href Ticket/getURLDelLoad" data-theme="c" data-icon="delete" />
						</li>
					</ul>
				</span>
			</div>
			<div class="content-secondary">
				<ul data-role="listview" data-theme="c" data-dividertheme="d">
					<li data-role="list-divider">CHỨC NĂNG</li>										
					<li><a data-ajax="false" tal:attributes="href Table/getURLTicketInsLoad">GỌI MÓN</a></li>
					<li><a data-ajax="false" target="blank" tal:attributes="href Table/getURLTicketPrint">IN PHIẾU</a></li>
					<li><a data-ajax="false" tal:attributes="href Table/getURLT2SLoad">XÁC NHẬN</a></li>
				</ul>
			</div>
		</div>
		<span metal:use-macro="macros.xhtml/footer"/>
	</div>
</body>
</html>