<table width="100%" cellpadding="1" cellspacing="0" border="0" bordercolor="#FFF">
	<tr>			
		<td width="100%" align="center">
			<font size="13pt"><b>ĐẶT MÓN NHÀ BẾP</b></font>
		</td>
	</tr>		
</table>
<br/>
<font size="10pt">
	<table style="padding-top:0px;" width="100%" cellpadding="1" cellspacing="0" border="0" bordercolor="#FFF">
		<tr>
			<td width="100%" align="left">				
				<span tal:content="php:mb_strtoupper(Table->getName(),'UTF8')"/>
			</td>
		</tr>		
	</table>
</font>
<br/>
<font size="9pt">
	<table style="padding-bottom:0px;" width="100%" cellpadding="2" cellspacing="0" border="1">
		<thead>
			<tr>
				<th width="30%"><b>MÓN</b></th>
				<th width="10%" align="right"><b>SL</b></th>
				<th width="15%" align="left"><b>ĐV</b></th>			
				<th width="45%" align="left"><b>GHI CHÚ</b></th>
			</tr>
		</thead>
		<tbody>
			<tr tal:repeat="Ticket TicketAll">
				<td width="30%" align='left' tal:content="Ticket/getCourse/getName" />
				<td width="10%" align='right' tal:content="Ticket/getCount" />
				<td width="15%" align='right' tal:content="Ticket/getCourse/getUnit" />
				<td width="45%" align='left' ><span tal:content="Ticket/getNote" /></td>
			</tr>
		</tbody>
	</table>
</font>