<!DOCTYPE html> 
<html>
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS_Mobile"/>
		<span metal:use-macro="macros.xhtml/IncludeJS_Mobile"/>		
	</head>
<body>	
	<div data-role="page" class="category type-interior">
		<span metal:use-macro="macros.xhtml/header"/>
		<div data-role="content">
			<div class="content-primary">				
				<form tal:attributes="action Ticket/getURLUpdExe" method="post" data-ajax="false">
					<ul data-role="listview" data-theme="c" data-dividertheme="b">
						<li data-role="list-divider" tal:content="Title" />
						<li data-role="fieldcontain">
							<label for="Count" class="text">Số lượng:</label>
							<input class="required" id="Count" name="Count" type="text" tal:attributes="value Ticket/getCount"/>
						</li>
						<li data-role="fieldcontain">
							<label for="Note" class="text">Ghi chú:</label>
							<input class="required" id="Note" name="Note" type="text" tal:attributes="value Ticket/getNote" />
						</li>
						<button data-corners="false" type="submit" data-theme="c"  data-icon="edit" name="submit" value="submit-value">Cập nhật</button>
					</ul>
				</form>
			</div>
			<div class="content-secondary">
				
			</div>
		</div>
		<span metal:use-macro="macros.xhtml/footer"/>
	</div>
</body>
</html>