<!DOCTYPE html>
<html lang="en">	
	<body>
		<div id="CourseLog" class="widget-content nopadding">
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>						
						<th><div class="text-left">TÊN MÓN</div></th>
						<th><div class="text-left">BÀN</div></th>
						<th width="100"><div class="text-left">THỜI GIAN</div></th>
						<th width="65"><div class="text-right">TT</div></th>
						<th width="30"><div class="text-right">SL</div></th>
						<th width="50"><div class="text-left">XONG</div></th>
					</tr>
				</thead>
				<tbody role="alert" aria-live="polite" aria-relevant="all">
					<tr tal:repeat="CL CLAll">						
						<td><span tal:content="CL/getCourse/getName"/></td>
						<td><span tal:content="CL/getTable/getName"/></td>
						<td><span tal:content="CL/getDateTimePrint"/></td>
						<td align="right"><span tal:content="CL/getRemainWaiting"/> / <span tal:content="CL/getCourse/getPrepare"/></td>
						<td align="right"><span tal:content="CL/getCount"/></td>
						<td>											
							<a class="remove-item" tal:attributes="data-id CL/getId">OK</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<script type="text/javascript">
		/*<![CDATA[*/												
			//-----------------------------------------------------------------------------------
			//Delete 1 REPORT			
			//-----------------------------------------------------------------------------------
			$('.remove-item').click(function(){
				var URL = "/object/del/CourseLog/" + $(this).attr('data-id');
				$.ajax({
					type: "POST",
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});						
		/*]]>*/
		</script>
	</body>
</html>